


  <div class="login-page" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="login-content" fxFlex="75" fxFill>
      <div class="login-description" fxLayout="column" fxLayoutAlign="start start" >
        <div class="logo">
        </div>
        <div class="login-text">
          emri i kompanise
        </div>
        <div class="login-description">
          Prshkrimi
        </div>
      </div>
      </div>


      <div fxFlex="25" fxFill class="login-form" fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex="20" fxFill>
          Log in to your account
        </div>
        <div  fxFlex="35" fxFill  fxLayout="column">


            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="50">
            <mat-checkbox>Remember me!</mat-checkbox>
          </div>
         <div fxFlex="50" style="text-align: right">
           <span class="forgot-label">Forgot password?</span>
         </div>

        </div>
          <button mat-button>Log in </button>
        </div>
        <div style="background-color: blue" fxFlex="35" fxFill>

        </div>
        <div style="background-color: red" fxFlex="35" fxFill>

        </div>



        </div>



  </div>


