<div style="height: 100px;
    background-color: #FFE5CC;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;" class="row">
<!--    <span>Welcome, Enxhi</span>-->

<!--    &lt;!&ndash; This fills the remaining space of the current row &ndash;&gt;-->
<!--    <span class="example-fill-remaining-space"></span>-->

<!--    <div mat-button [matMenuTriggerFor]="menu" fxLayout="row" fxLayoutAlign="space-around center">-->
<!--      <div>-->
<!--        <mat-icon class="s-16 mat-icon material-icons" fxhide.xs="" role="img" aria-hidden="true" style="display: block;">person</mat-icon>-->
<!--      </div>-->
<!--      <div>-->
<!--        <span class="username mr-12" fxhide="" fxshow.gt-sm="" style="display: block;">Enxhi Koci</span>-->
<!--      </div>-->
<!--      <mat-icon class="s-16 mat-icon material-icons" fxhide.xs="" role="img" aria-hidden="true" style="display: block;">keyboard_arrow_down</mat-icon>-->
<!--    </div>-->
<!--    <mat-menu #menu="matMenu">-->
<!--      <button mat-menu-item>Profile</button>-->
<!--      <button mat-menu-item >Logout</button>-->
<!--    </mat-menu>-->
<div class="col">
  logo
</div>
<div class="col">
</div>



</div>

<div class="header">
  <h1>Together,</h1>
  <p>We make someone's day!</p>
</div>
