<div class="header-content">

  <div class="row content"  fxLayout="row" fxLayoutAlign=" none" >
    <div fxFlex="70%">
      logo
    </div>
    <div  fxFlex="30%">
      <div style="text-align: right;height: 100%;" class="row" fxLayout="row" fxLayoutAlign=" none" >
        <div  fxFlex="33%" class="header-element">

          <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon aria-label="Example icon-button with a heart icon">group_add</mat-icon>
            Registered
          </button>


        </div>
        <div  fxFlex="33%"  class="header-element">
          <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="openDialog()">
            <mat-icon aria-label="Example icon-button with a heart icon">person_outline</mat-icon>
            Log in
          </button>

        </div>
        <div  fxFlex="33%"  class="header-element">

          <button mat-icon-button aria-label="Example icon-button with a heart icon" >
            <mat-icon aria-label="Example icon-button with a heart icon">shopping_cart</mat-icon>
            shop
          </button>
        </div>
      </div>

    </div>
  </div>




</div>

<div class="logo-content">
  <h1>Together,</h1>
  <p>We make someone's day!</p>
</div>
